$white-color: #fff ;
$black-color: #000;
$red-color: rgb(206, 37, 37);
$grey-color: #b8b7b7  ;
$dark-shadow: rgba(0, 0, 0, 0.8);

$light-dark-gradient: linear-gradient(
	0deg,
	rgba(56, 56, 56, 0.6),
	rgba(0, 0, 0, 0.6)
);