@import "./colors";
@import "./animations";
@import "./mixins";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	background-color: $black-color;
	color: $white-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	height: 100%;
}

// BURGER BUTTON

.hamburger {
	position: fixed;
	top: 15px;
	right: 5px;
	padding: 1em;
	height: auto;
	width: auto;
	background: transparent;
	border-radius: 8px;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white-color;

		text-align: center;
	}

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
}
.header {
	position: fixed;
	height: 100px;
	z-index: 1000;

	&__logo {
		position: fixed;
		top: 0;
		font-family: "Dancing Script";
		color: $white-color;
		padding: 1em;
		width: 100%;
		font-size: 2.5rem;
		text-decoration: none;
		z-index: 1000;
		transition: color 0.3s;

		&:hover {
			color: $red-color;
		}
	}
}

// NAV

.nav {
	&-desktop {
		display: none;
	}

	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		transform: translateX(100%);
		background-color: #333;
		transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
		z-index: 100;

		&--active {
			transform: translateX(0);
		}

		&__item {
			position: relative;
			display: block;
			margin: 1em 1em;
			text-transform: uppercase;
			text-decoration: none;
			color: $white-color;
			font-size: 2.5rem;

			&::before {
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 100%;
				height: 3px;
				transform: scaleX(0);
				background-color: $white-color;
				transition: transform 0.3s;
				content: "";
			}

			&:hover::before {
				transform: scaleX(1);
			}
		}
	}
}

.nav-items-animation {
	-webkit-animation: fade-in-right 1s ease-in both;
	animation: fade-in-right 1s ease-in both;
}

.home {
	position: relative;
	top: 0;
	height: 100vh;
	background-image: url("/img/pizza-small.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}

	&__logo {
		padding: 0.5em;
		font-size: 5rem;
		font-family: "Dancing Script";
		color: $white-color;
	}

	p {
		letter-spacing: 2px;
		font-style: italic;
		color: $white-color;
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}

	&__arrow {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 3em;
		text-decoration: none;
		color: $white-color;
	}
}

.bounce-top {
	-webkit-animation: bounce-top 2s linear 2s infinite forwards;
	animation: bounce-top 2s linear 2s infinite forwards;
}

.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

// ABOUTUS
.section-title {
	text-transform: uppercase;
	padding-top: 4em;
	text-align: center;
	font-family: "Dancing Script";
	font-size: 3rem;
}

.aboutus {
	height: 100%;


	&__text {
		padding: 1em;
		text-align: center;
		font-size: 2rem;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 1em auto;
	}

	&__card {
		display: flex;
		flex-direction: column;
		margin: 0.5em;
		width: 90%;
		padding: 1em;
		background-color: $grey-color;
		border-radius: 8px;
		text-align: center;
		align-items: center;
		justify-content: center;

		&--one {
			@include heroImages("../img/cracow.jpg");
		}
		&--two {
			@include heroImages("../img/warsaw.jpg");
		}
		&--three {
			@include heroImages("../img/poznan.jpg");
		}

		&-title {
			font-size: 2.5rem;
			padding: 1em;
			letter-spacing: 2px;
		}

		&-hours {
			margin-top: 5em;
		}
	}
}

// MENU
.menu {
	height: 100%;
	background-color: #333;

	.size-info {
		display: flex;
		justify-content: space-evenly;
		margin: 1em;
		list-style: none;

		&-item {
			text-transform: uppercase;
			padding: 0.5em;
		}
	}


	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 1em;
		margin: 1em auto;
	

		&-card {
			position: relative;
			background-color: #fff;
			width: 95%;
			margin: .5em;
			padding: 0.5em;
			border-radius: 8px;
			@include heroImages('../img/pizza-menu.jpg');
			transition: transform .3s;

			&:hover {
				transform: scale(1.1);
			}


			&:nth-child(odd) {
				@include heroImages('../img/pizza-menu2.jpg')
			}

			&-title {
				margin-top: 2em;
				padding: 0 0.5em;
				text-transform: uppercase;
			}

			&-indegredients {
				padding: 1em ;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 1.1rem;

			}

			&-price {
				position: absolute;
				top: 10px;
				right: 10px;
				font-weight: bold;
			}
		}

		.trimmings {
			text-transform: uppercase;
			padding-top: 1em;
		}

		.trimmings-list {
			letter-spacing: 1px;
			padding: 1em;
		}
	}
}

//MEDIA QUERIES

@media (min-width: 768px) {
	.hamburger {
		top: 23px;
		right: 20px;
	}
	.header {
		&__logo {
			
			font-size: 3.3rem;
		}
	}

	.nav {
		&-mobile {
			&__item {
				font-size: 3rem;
			}
		}
	}

	.home {
		&__logo {
			font-size: 7rem;
		}

		p {
			font-size: 2rem;
		}
	}

	.aboutus {
		.section-title {
			font-size: 4rem;
		}

		&__text {
			padding: 2em;
		}

		&__card {
			height: 350px;
		}
	}

	
}

@media (min-width: 992px) {
	.header {
		&__logo {
			top: 25px;
			width: 300px;
			padding: 0 1em;
			z-index: 10;
		}
	}
	.hamburger {
		display: none;
	}

	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
		height: 100%;
		width: 100vw;
		justify-content: flex-end;
		align-items: center;
		z-index: 15;
		transition: background-color 0.6s;

		&__items {
			margin-right: 4em;
		}

		&__item {
			padding: 2em;
			text-decoration: none;
			color: $white-color;
			text-transform: uppercase;
			font-size: 2rem;
			transition: color 0.3s;

			&:hover {
				color: $red-color;
			}
		}
	}

	.home {
		background-image: url("/img/pizza-big.jpg");
	}
	
	.aboutus {
		.section-title {
			font-size: 4.5rem;
		}

		&__text {
			font-size: 2.5rem;
		}

		&__card {
			height: 450px;

			&-adress {
				font-size: 2rem;
			}
		}
	}

	.menu {

		.section-title {
			font-size: 4rem;
			margin-bottom: 1em;
		}

		.size-info {
			&-item {
				font-size: 2rem;
			}
		}
		&__box {

			padding: 2em;
			&-card {
				padding: 2em;

				&-title {
					
					font-size: 3rem;
					text-transform: uppercase;
				}
	
				&-indegredients {
					padding: 1em ;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 1.5rem;
	
				}

				&-price {
					font-size: 2rem;
				}
			}

		}

		.trimmings {
			font-size: 3rem;
		}

		.trimmings-list {
			font-size: 2rem;
		}
	}
}
